<div class="panel panel-primary">
	<div class="panel-heading">Find a product</div>
	<div class="panel-body">
			<%= form_for :product, :html => {:class => 'form-inline'} do |f| %>
			      <%= f.label 'Search by' %>
      			  <%= f.text_field 'search', 
        			:class => 'form-control',
        			:style => 'width: 300px'
     			   %>
     			    <input type="submit" value="Search" class="btn btn-primary"/>
			<% end %>
	</div>
</div>

<% if flash[:message] && flash[:message] != '' %>
 <div class="alert alert-success">
 	<%= flash[:message] %>
 </div>
<% end %>

<% if @products %>
<div class="panel panel-primary">
	<div class="panel-heading">Product</div>
		<div class="pannel-body">
			<% @products.each do |p| %>
			<div style="border: 1px black solid">
				<div>
					<img src="/upload/<%= p.pro_img %>" width="30%">
				</div>
				<div><%= p.pro_name %></div>
				<div><%= p.pro_price %></div>
				<div>
						<a href="/page/delete?id=<%= p.pro_id %>" class="btn btn-danger"> Delete </a>
						<a href="/page/edit?id=<%= p.pro_id %>" class="btn btn-info"> Edit </a>
						<a href="/page/buy?id=<%= p.pro_id %>" class="btn btn-primary"> Buy Now </a>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>