<div class="panel panel-primary">
  <div class="panel-heading">Login</div>
  <div class="panel-body">

    <% if flash[:message] %>
      <% if flash[:message] != '' %>
      <div class="alert alert-danger">
        <%= flash[:message] %>
      </div>
      <% end %>
    <% end %>

    <%= form_for :member do |f| %>
    <div>
      <%= f.label 'username' %>
      <%= f.text_field 'username', 
        :class => 'form-control',
        :style => 'width: 300px'
      %>
    </div>
    <div>
      <%= f.label 'password' %>
      <%= f.password_field 'password', 
        :class => 'form-control',
        :style => 'width: 300px'
      %>
    </div>
    <div>
      <input type="submit" value="Login"
        class="btn btn-primary" />
    </div>
    <% end %>
  </div>  
</div>