<div class="panel panel-primary">

  <% if flash[:message] && flash[:message] != '' %>
 <div class="alert alert-success">
  <%= flash[:message] %>
 </div>
<% end %>

  <div class="panel-heading">เพิ่มสินค้า</div>
  <div class="panel-body">
    <%= form_for :product, :html => {:class => 'form-inline'} do |f| %>
    <div>
      <%= f.label 'รหัสสินค้า' %>
      <%= f.text_field 'pro_code', 
        :class => 'form-control', 
        :style => 'width: 150px' 
      %>
    </div>
    <div>
      <%= f.label 'ชื่อสินค้า' %>
      <%= f.text_field 'pro_name',
        :class => 'form-control',
        :style => 'width: 300px'
      %>
    </div>
    <div>
      <%= f.label 'ราคา' %>
      <%= f.text_field 'pro_price', 
        :class => 'form-control',
        :style => 'width: 100px'
      %>
    </div> 
    <div>
      <%= f.label 'ภาพสินค้า' %>
      <%= f.file_field 'pro_img', 
        :class => 'form-control',
        :style => 'width: 300px'
      %>
    </div>

    <div>
      <%= f.hidden_field 'pro_id' %>
    </div>
    <div>
      <%= f.label ' ' %>
      <input type="submit" value="Save"
        class="btn btn-primary"
      />
    </div>
    <% end %>
  </div>
</div>

