<!DOCTYPE html>
<html>
<head>
  <title>Myweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag '/bootstrap/css/bootstrap.css' %>
  <style>
    form div {
      margin-top: 8px;
    }
    form div label {
      width: 150px;
    }
  </style>
</head>
<body>
<div class="container">
  <h3>Ruby Shop</h3>
  <div>
    <a href="/page/index">Product Lists</a>
    |
    <a href="/page/about">About Me</a>
    |
    <a href="/page/product_new">Add new product</a>
    |
    <a href="/page/login">Login</a>
    |
    <a href="/page/register">Register</a>
  </div>

  <%= yield %>
</div>

</body>
</html>
